body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(194, 199, 245);
    background-image: linear-gradient(#ffffff, #1f49a5);
}


  .nav-bar {
    display: flex;
    flex-direction: row;
    background-color: rgb(206, 199, 199);
    z-index: 1;
    white-space: nowrap;
    justify-content: space-evenly;
    height: 3em;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .nav-bar a {
    display: inline-block;
    color: rgb(83, 81, 81);
    text-align: center;
    padding: 15px;
    text-decoration:none;
    overflow: hidden;
  }
  
  .nav-bar a:hover {
    border-bottom: 3px solid #fd4967;
  }


  #btn-donate{
    width: 100px;
    background-color: rgb(207, 151, 118);
    border-radius:15%;
    color:red;
    font-size: large;
    cursor: pointer;
    margin-top: -10px;
  }
  
  #btn-donate:hover{
    color:blue;
  }

  #currentlyOn {
    border-bottom: 3px solid #fc3153;
  }
  
  footer {
    background-color:transparent;
    padding: 1.5em;
    margin-top: 18.5em;
  }
  
  #rights {
    text-align: center;
    color: rgb(179, 174, 174);
  }
  
  
  .priv-policy {
    text-align: center;
    margin-top: 30px;
    color: rgb(179, 174, 174);
  }
  
  footer a {
    color: #fff;
    text-decoration: none;
  }

  .about-container{
    display: grid;
    grid-template-columns: auto;
    margin: 10%;
    margin-top: 100px;
  }
  
  #about-social-fixer{
      text-align: center;
      color: rgb(56, 90, 202);
  }

  #about-p{
      text-align: center;
      line-height: 40px;
      margin-top: 40px;
      color:rgb(165, 37, 37)
  }











  .grid-feature-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin:10%;
  }
















  
 
 






















 









  #f3-h2{
    color: red
  }



 



 





 





  #f13-h2{
    color: red
  }